<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart putOnSaleStart fa fa-check-circle grey"></i>
    <i class="allProgress putOnSaleProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone putOnSaleDone fa fa-check-circle hide"></i>
    <i class="allRetry putOnSaleRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4>Put on sale</h4>
    <p class="para-color">Sign message to put on sale</p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart putOnSaleStart disabledLink grey">Start</a>
    <a href="javascript:void(0)" class="allProgress putOnSaleProgress disabledLink hide">In Progress..</a>
    <a href="javascript:void(0)" class="allDone putOnSaleDone hide">Done</a>
    <a href="javascript:void(0)" class="allRetry putOnSaleRetry hide">Try again</a>
  </div>
</div>