<div className="follow-step-block">
  <div className="follow-step-icon">
    <i className="fa fa-times-circle"></i>
  </div>
  <div className="follow-step-content">
    <h4><%= t('collections.collection_create')%></h4>
    <p className="para-color"><%= t('shared.rejected')%></p>
  </div>
  <div className="follow-step-button themeBG">
    <a href="<%= root_path %>"><%= t('shared.go_to_dashboard')%></a>
  </div>
</div>
