<div id="removeSaleModal" class="zoom-anim-dialog mfp-hide modal sm_modal">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('collections.show.remove_from_sale') %></h4>
  <div class="modal-body pt-10 pb-10">
    <p class="buynow-content">
      <span class="innertitle"><%= t('collections.show.remove_sale_alert') %></span>
    </p>
  </div>
  <div class="modal-footer" style="text-align:right">
    <%= link_to t('collections.show.remove_from_sale'), remove_from_sale_collection_path(@collection.address), class: 'btn bidding-element-btn theme-btn' %>
    <a class="bidding-element-btn secondary-btn" data-dismiss="modal" role="button"><%= t('shared.cancel') %></a>
  </div>
</div>