<div className="follow-step-block">
    <div class="follow-step-icon">
      <i class="fa fa-check-circle"></i>
    </div>
    <div class="follow-step-content">
      <h4><%= t('collections.collection')%></h4>
      <p class="para-color"><%= t('collections.successfully_minted')%></p>
    </div>
    <div class="follow-step-button themeBG">
      <a href="<%= my_items_path %>"><%= t('shared.go_to_my_items')%></a>
    </div>
</div>
