<% if @category_collections.present? %>
  <% category_collections.each do |collection| %>
    <div class="col-12 col-md-6 col-lg-3">
      <%= render "/dashboard/collection_card", collection: collection %>
    </div>
  <% end %>
<% elsif params[:page] == 1 %>
  <% 5.times do %>
    <%= render partial: 'common/empty_card_collection' %>
  <% end %>
<% end %>
