<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-sm-right d-none d-sm-block">
          © <script>document.write(new Date().getFullYear())</script> <%= Rails.application.credentials.config[:app_name] %>, Inc. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
