<section class="pt-50 pb-50">
	<div class="container">

		<div class="row pb-50">
			<div class="col-md-12">
				<div class="content-block">
					<a href="<%= root_path %>" class="home-back-btn">
						<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.94531 18.0156L10.7266 17.2734C10.9219 17.0781 10.9219 16.7656 10.7266 16.6094L4.67188 10.5156H18.0312C18.2656 10.5156 18.5 10.3203 18.5 10.0469V8.95312C18.5 8.71875 18.2656 8.48438 18.0312 8.48438H4.67188L10.7266 2.42969C10.9219 2.27344 10.9219 1.96094 10.7266 1.76562L9.94531 1.02344C9.78906 0.828125 9.47656 0.828125 9.28125 1.02344L1.11719 9.1875C0.921875 9.38281 0.921875 9.65625 1.11719 9.85156L9.28125 18.0156C9.47656 18.2109 9.78906 18.2109 9.94531 18.0156Z" fill="black"></path></svg>
						<span>Back to homepage</span>
					</a>
					<!-- <h3 class="about-us-content-heading">Digital Creative Economy</h3> -->
					<!-- <p class="about-us-content-para">A unique NFT marketplace to provide opportunities for creators like an artist, architect, designers for financial benefits with the vision of empowering digital asset management through NFTs.</p>
					<p class="about-us-content-para">The platform allows the digital representation of unique assets in the form of NFTs with the standards of Ethereum that offer substantial benefits and a huge reputation from the global market for NFTs. This art-centric marketplace has a huge reputation for arts and artists that receives global recognition from the creators and NFT collectors.</p>
					<p class="about-us-content-para">Our market place allows us to create, sell and bid for NFTs which also allows purchasing NFTs from other marketplaces. Our plethora of NFTs in our marketplace offers a better investment opportunity for digital assets that offer enormous crypto fortunes as rewards for financial freedom.</p> -->

				</div>
			</div>
		</div>

		<div class="content-block">
			<div class="row pb-50">
				<div class="col-12">
					<div class="about-parent">
						<h3 class="about-us-content-heading">ABOUT YOLO</h3>
						<p class="about-us-content-para">Yolospace.io is the 1st ESG Community based NFT marketplace in Hong Kong</p>
						<p class="about-us-content-para">It is found by a group of passionate young generation including blockchain experts, stylistic designers, contemporary artists and ESG specialists in Hong Kong. Among us, we embrace the value of integrating the elements of arts development, blockchain technology, NFT application, the ESG campaign, and the endless creativity from different age groups of Hong Kong, we build, cultivate, and grow this all-in-one NFT marketplace to serve this purpose.</p>
						<p class="about-us-content-para">We help to establish and develop projects launch and welcome varies collaborations and win-win partnerships with artists, celebrities, KOLs, NGOs, academic institutions and schools, branded companies, listed companies, small and medium enterprises, start-ups, and innovative companies.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
