<section class="faq-section"  style="background-image: url(/assets/wall-wallpaper.jpg);">
	<div class="container-fluid padding-lr-custom-50">
		<div class="row ml-0 mr-0">
			<div class="col-md-12">
				<div class="faqHeading text-center">
					<h2>FAQs</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pt-50 pb-50">
	<div class="container">
		<div class="">

			<div class="accordion">
				<div class="row pb-50">
					
					<div class="col-md-6">
						<div class="accordion__item">
							<div class="accordion__title">
								<span class="accordion_number_custom">01</span>
								<span class="accordion_content_custom">What is ERC-721 token standards?</span>
							</div>
							<div class="accordion__body">
							  <div class="accordion__content">
							    <p>ERC-721 is an ethereum based token token standard that allows the digital representation of unique collectibles in the form of NFTs. This non-fungible token creates intrinsic asset value for your unique collectibles that can be sold for millions of dollars.</p>
							  </div>
							</div>
						</div>

						<div class="accordion__item">
							<div class="accordion__title">
								<span class="accordion_number_custom">02</span>
								<span class="accordion_content_custom">What is minting an NFT?</span>
							</div>
							<div class="accordion__body">
							  <div class="accordion__content">
							    <p>The process of creating digitally represented unique assets into NFTs called minting.</p>
							  </div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__title">
								<span class="accordion_number_custom">03</span>
								<span class="accordion_content_custom">Can I create an NFT without putting it on sale?</span>
							</div>
							<div class="accordion__body">
							  <div class="accordion__content">
							    <p>Yes, you can and its completely your choice to list for selling or not.</p>
							  </div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<img class="img-responsive about-img-custom" src="/assets/faq.png">
					</div>
					
				</div>

				<div class="row pb-50">
					<div class="col-md-6">
						<img class="img-responsive about-img-custom" src="/assets/faq-1.png">
					</div>
					<div class="col-md-6">
						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">04</span>
						    	<span class="accordion_content_custom">Can I change the price of an already created NFT?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>Yes , you can change the price of your NFT at any time with the signature through your integrated wallet.</p>
						      </div>
						    </div>
						</div>

						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">05</span>
						    	<span class="accordion_content_custom">Can I gift or send a collectible to someone?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>Yes, you can send or gift your NFT to anyone just by clicking "Transfer" button with a correct address.</p>
						      </div>
						    </div>
						</div>

						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">06</span>
						    	<span class="accordion_content_custom">What does “burning a token” mean?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>The ERC-721 standard also allows to destroy the NFTs which is called burning.</p>
						      </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="row pb-50">
					
					<div class="col-md-6">
						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">07</span>
						    	<span class="accordion_content_custom">Do you have integration of other marketplaces?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>Yes, you can purchase NFT from any popular NFT marketplaces like opensea , rarible which is integrated to our platform.</p>
						      </div>
						    </div>
						</div>

						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">08</span>
						    	<span class="accordion_content_custom">What is unlockable tokens?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>As a content creator, you can add unlockable content to your collectibles, that can be visible only after the transfer of ownership. This supports Artists to include high res files, making ofs. videos, secret messages etc.</p>
						      </div>
						    </div>
						</div>

						  <div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">09</span>
						    	<span class="accordion_content_custom">How does the royalty works?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>When the user creates a collectible the user can set a certain percentage as royalty for secondary sales. This allows the creators to earn revenue for each transaction of their NFTs.</p>
						      </div>
						    </div>
						</div>
					</div>
					<div class="col-md-6">
						<img class="img-responsive about-img-custom" src="/assets/faq-2.png">
					</div>
					
				</div>

				<div class="row pb-50">
					<div class="col-md-6">
						<img class="img-responsive about-img-custom width-cc-nine" src="/assets/faq-3.png">
					</div>
					<div class="col-md-6">
						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">10</span>
						    	<span class="accordion_content_custom">Can I report an artwork or collectible?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>Yes,  you can report a collectible if it represents the same asset as yours or any other discomforts caused by other NFTs.</p>
						      </div>
						    </div>
						</div>

						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">11</span>
						    	<span class="accordion_content_custom">What is verification?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>Verified badges are granted to creators and collectors that show the proof of authenticity and active dedication to the marketplace.</p>
						      </div>
						    </div>
						</div>

						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">12</span>
						    	<span class="accordion_content_custom">How to get a "verified" badge? (depends platform)</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>You need to submit the following details:</p>
						        <ul>
						        	<li>Filled-in profile on our marketplace: user pic + cover + custom link</li>
						        	<li>Links to at least 2 social media profiles.<br>Active social media profiles with plenty of artworks posted with huge benefit will attract buyers to your profile.</li>
						        	<li>Behind the screens/work in progress.<br>If you're a creator, show us the backstage of the work process on one of the minted items.We verify your purchased NFTs if you are a collector.</li>
						        	<li>Share us the story behind your account<br>Tell us about yourself.your collectibles,concept of your arts etc.</li>
						        	<li>to get veried mint and share an NFT on instgram or twitter and tag us with your orginal account</li>
						        </ul>
						      </div>
						    </div>
					  	</div>

					</div>
				</div>

				<div class="row pb-50">
					
					<div class="col-md-6">
						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">13</span>
						    	<span class="accordion_content_custom">What gives it value ?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>NFTS impose digital scarcity in an open internet therefore giving the asset value due to the tied ownership.AS the world continues to digitize, anything you make, even if it took a lot of time and resources to make, as soon as you put that creation on the internet the price goes to zero because the cost of reproducing it is zero, simply because anybody can just download it with no ownership and originality attached to it, NFS attach proven ownership and originality to digital items to provide digital scarcity  in an open internet without scarcity through the proven authenticity of the blockchain. This way you can benefit from the free open internet and still reap the benefit attached to your work.</p>
						      </div>
						    </div>
						</div>

						<div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">14</span>
						    	<span class="accordion_content_custom">Why should I mint an NFT ?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>NFTS give artist and musicians a unique way to monetize their work and creation, such that they can benefit from direct sales to their fan base and still have a strong connection to the artworks such that it can be traced back to them no matter how many times it resells. The simple fact that your work will always be tied to you in creation and royalty is a big innovation in the creative industry.</p>
						      </div>
						    </div>
						</div>

						  <div class="accordion__item">
						    <div class="accordion__title">
						    	<span class="accordion_number_custom">15</span>
						    	<span class="accordion_content_custom">What makes it unique ?</span>
						    </div>
						    <div class="accordion__body">
						      <div class="accordion__content">
						        <p>The uniqueness of an NFT is gotten from the Ethereum blockchain which attaches a unique token id to the digital assets and stores in on the blockchain which is immutable(can never be altered).</p>
						      </div>
						    </div>
						</div>
					</div>
					<div class="col-md-6">
						<img class="img-responsive about-img-custom" src="/assets/faq-2.png">
					</div>
					
				</div>

			</div>

		</div>
	</div>	
</section>


<script type="text/javascript">
	const accordion = document.querySelector('.accordion');
	const items = accordion.querySelectorAll('.accordion__item');

	items.forEach((item) => {
	  const title = item.querySelector('.accordion__title');
	  
	  title.addEventListener('click', (e) => {
	    const opened_item = accordion.querySelector('.is-open');
	    
	    // Toggle current item
	    toggle_item(item); 
	    
	    // Close earlier opened item if exists
	    if (opened_item && opened_item !== item) {
	      toggle_item(opened_item);
	    }
	    
	    
	  });
	});

	const toggle_item = (item) => {
	  const body = item.querySelector('.accordion__body');
	  const content = item.querySelector('.accordion__content');
	        
	  if (item.classList.contains('is-open')) {
	    body.removeAttribute('style');
	    item.classList.remove('is-open');
	  }else {
	    body.style.height = body.scrollHeight + 'px';
	    item.classList.add('is-open');
	  }
	}
	  

</script>