/*LOADER CSS*/
.displayInMiddle {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
}
.loading-gif, .loading-gif-network {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
}
.loading-gif .loading-gif-backdrop, .loading-gif-network .loading-gif-backdrop{
  opacity: 0.9;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.loading-gif .loadingWrapper, .loading-gif-network .loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-gif .loadingWrapper #loading, .loading-gif-network .loadingWrapper #loading {
  margin: auto;
  height: 100px;
  width: 100px;
  border: transparent;
  border-top: 3px solid #1273eb;
  border-radius: 50%;
  -webkit-animation: round 2s linear infinite;
          animation: round 2s linear infinite;
}
.loading-gif .loadingWrapper h1, .loading-gif-network .loadingWrapper h1 {
    color: var(--body-color);
    position: relative;
    margin: auto;
    top: 50%;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}

@-webkit-keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}