<li class="col-12 col-sm-6 col-md-4 col-lg-3 dummy-topbuyer">
    <div class="sellers-list__author sellers-list__author--verified">
    <img src="/assets/default_user.png">
    <span class="sellers-list__number">1</span>
    <a href="javascript:void(0)">0xad00de4...485d</a>
    <span data-toggle="tooltip" data-placement="top" title="" data-original-title=""></span>
    </div>
</li>