<div class="col-md-3 col-sm-6 col-xs-12 custom-width-res-1 dummy-hot-coll">
  <div class="hot-coll-box">
    <a href="javascript:void(0);">
      <div class="hot-coll-img" style="background-image: url(/assets/dummy-image.jpg)">
        <%= image_tag src='/assets/dummy-image.jpg', class: 'img-responsive' %>
      </div>
      <div class="hot-coll-content">
        <h4><%= t('common.collections')%></h4>
        <p><span>by</span> <%= t('common.nft_user_name')%></p>
      </div>
    </a>
  </div>
</div>