<div class="card dummy-explorer">
    <div class="t_c">
        <a href="javascript:void(0);" class="card__cover">
            <span class="collection-card-img" style="background-image: url('/assets/banner-bg.jpeg')">
                <img src="/assets/banner-bg.jpeg" />
            </span>
        </a>
        <button class="card__likes heart is-active"><i class="far fa-heart"></i><i class="fas fa-heart"></i><span>1</span></button>
    </div>
    <h3 class="card__title" data-toggle="tooltip" data-placement="top" title="" data-original-title="Image New 003 / 1 of 1">
        <a href="javascript:void(0);"><%= t('collections.collection_name')%></a>
    </h3>
    <div class="card__author">
        <img src="/assets/default_user.png">
        <a href="javascript:void(0);">@0x00aeccc...daf0</a>
    </div>
    <div class="card__info">
        <div class="card__price">
            <span><%= t('shared.reserve_price')%></span>
            <span>0.00001 ETH</span> 
        </div>
    </div>
</div>
