<div class="activity dummy-activity">
        <a class="activity__cover" href="javascript:void(0);">
            <img src="/assets/banner-bg.jpeg" width="140" height="162">
</a>      <div class="activity__content">
        <h3 class="activity__title">
            <a href="javascript:void(0);">
                <%= t('collections.collection_name')%>
</a>
        </h3>
        <p class="activity__text"><%= t('collections.liked_by')%>
          <a href="javascript:void(0);">
              @User name
          </a>  <br>
          <span class="activity__time">about 2 hours </span>
      </p></div>
    </div>