<div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="top_menu">
            <ul>
              <li><a href="<%= Rails.application.credentials.config[:support_url] %>" target="_blank">><%= t('header.help_center') %></a></li>
              <li><a href="<%= Rails.application.credentials.config[:discussion_url] %>" target="_blank">><%= t('footer.discussion') %></a></li>
            </ul>
          </div>
        </div>
        <!--<div class="col-lg-6 col-md-6 col-sm-6">-->
          <!--<div class="head__lang">-->
            <!--<a class="head__lang-btn" href="javascript:void(0);" role="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--<img src="img/flags/uk.svg" alt="">-->
              <!--<span>English</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu head__lang-dropdown" aria-labelledby="dropdownLang">-->
              <!--<li><a href="javascript:void(0);"><img src="img/flags/spain.svg" alt=""><span>Spanish</span></a></li>-->
              <!--<li><a href="javascript:void(0);"><img src="img/flags/russia.svg" alt=""><span>Russian</span></a></li>-->
              <!--<li><a href="javascript:void(0);"><img src="img/flags/china.svg" alt=""><span>Chinese</span></a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>