<div class="loading-gif displayInMiddle" style="display:none;">
  <div class="loading-gif-backdrop"></div>
  <div class="loadingWrapper">
    <div id="loading"> </div>
    <h1><%= t('common.loading_text') %></h1>
  </div>
</div>