<div class="loading-gif-network displayInMiddle" style="display:none;">
  <div class="loading-gif-backdrop"></div>
  <div class="loadingWrapper">
    <div id="loading"> </div>
    <h1><%= t('common.wrong_network') %></h1>
    <h1><%= t("common.network.#{Current.network.short_name}.wrong_ntk_error") %></h1>
  </div>
</div>